<div class="container">
  {{ top }}
</div>
<div class="container">
  <div class="columns">
    <div class="column">
      {{ left }}
    </div>
    <div class="column">
      {{ center }}
    </div>
    <div class="column">
      {{ right }}
    </div>
  </div>
</div>
<div class="container">
  {{ bottom }}
</div>
